{
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    // "brace-style": [2, "stroustrup"],
    "no-console": 0,
    "semi": 0,
    "padded-blocks": 0,
    "indent": 0,
    "spaced-comment": 1,
    "quotes": ["off", "single", { "allowTemplateLiterals": true }],
    "import/prefer-default-export": "off",
    "arrow-parens": ["warn", "as-needed"]
  }
  // "extends": "airbnb-base"
}
