@import "variables";
@import "footer";
html {
    @extend .full-size;
    font-family: Arial, sans-serif;
}

.full-size {
    width: 100%;
    height: 100%;
}

.content-body {
    @extend .full-size;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #canvas {
        border: 1px solid black;
    }
}